<div class="container">
  <img src="assets/college2.jpg" alt="college2" class="responsive" style="width:100%;">
      <div class="centered">
              <h1>Electrical Engineering</h1>
       <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Electrical Engineering</li>
              </ul>
              </div>
             </div>

<br>
<br>

<div class="overlay"> </div>
  <br>

<p>
The Electrical Engineering Department foasters a dynamic academic environment that is commited to a tradition of excellance in teaching, research and service.The curriculum is covered in a matter to complement the department's aim, which is to produce highly qualified, well-rounded, and motivated graduates possessing fundamental knowledge of Electrical Engineering, who can provide leadership and service to the nation.<br>
<br>
Our department emphasizes the highest quality in graduate education both in theory and practical aimingg to prepare students for a variety of carriers in research,teaching and industry.<br><br>
The department conducts research across a wide range of topics, and targets both fundamentaldvances and practical applications of electrical technology.There are dedicated teachers and mentors of students.They are continuously striving to train the students on practicalgroung wuth hands on experimentations. <br>
</p>

<h3>Department Labs</h3>
<P>
  1.Basic Electrical Engineering Lab<br>
  2.Electrical Machines Lab<br>
  3.Electrical Measurement Lab<br>
  4.Numerical Technique Lab<br>
  5.Instrumentation Lab<br>
  6.Network Lab<br>
  7.Power Electronics Lab<br>
  8.Control System Lab<br>
  9.Microprocessor Lab<br>
  10.Advanced Simulation Lab<br>
  11.Power Systems Lab<br>
  12.Electrical CAD Lab<br>
</P>

