<div class="container">
  <img src="assets/college2.jpg" alt="college2" class="responsive" style="width:100%;">
      <div class="centered">
              <h1>Contact Us</h1>
       <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Contact</li>
              </ul>
              </div>
            </div>
            <br><br>



<div class="overlay"></div>
  <br>

<div class="row">
  <div class="col-sm-4">
      <span class="glyphicon glyphicon-earphone"></span><br>
      Phone:<br>
      <p>+91 7599244053<br>
        +91 9412534972</p>
  </div>
  <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope"></span><br>
      Email:<br>
      <p>admissions@fetagracollegeagra.org<br><br/>
      </p>
</div>
<div class="col-sm-4">
  <span class="glyphicon glyphicon-time"></span><br>
  College Hours:<br>
  <p>Mon-Sat: 10:00 am - 04:00 am<br>
    </p><br>
  </div>
<br><br>
<hr>
<p>
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7098.145000110163!2d78.00091798278686!3d27.18545804336525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974773b16124115%3A0x1f75c089b23449ab!2sFET+Agra+College!5e0!3m2!1sen!2sin!4v1556721157110!5m2!1sen!2sin"
  width="600" height="450" frameborder="0" style="border:0"
  allowfullscreen>
</iframe>
</p>
