<div class="container">
  <img src="assets/college2.jpg" alt="college2" class="responsive" style="width:100%;">
      <div class="centered" style="position: relative;">
              <h1>Electronics & Communication Engineering</h1>
       <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Electronics & Communication Engineering</li>
              </ul>
              </div>
            </div>
            <br><br><br>



<div class="overlay"></div>

 <p>
        ECE Department emphasizes the clear understanding of the fundamental concepts and intricacies of electronic devices and electronic circuits and systems under various working conditions including their use in design.<br><br>
        The well-qualified and experienced faculty imparts and sharpens analytical and innovative skills of students for understanding and designing of electronic circuits and systems from simple to complicated ones. They are further trained to use modern software based fast analytical and design tools.<br><br>
        These empower them to comfortably take up any innovative or challenging job relating to design, operation and maintenance of electronic systems, ICs, VLSI design, communications (analog, digital & optical), computer hardware, instrumentation, computer controlled systems, etc. and complete the same successfully. In addition, the department encourages them and engages them in special classes and training in emerging and promising areas and special softwares of immense interest to the prospective employers.<br><br>
        Students are assigned project work from 3rd year so that they can work on their project intensively upto final year. Exposure to current literature on related technology in the library caters to their investigative needs.<br><br>
        The department aims to develop specialized knowledge in Electronics and Communication Engineering with much emphasis on practicals to develop the student's skills in Electronics design manufacturing applications and repairs. The department is concerned about the professional needs of the students and arranges various in-house events such as technical events, seminars, PDP classes, workshops, conferences etc. Guest lectures of internationally renowned speakers from other regional engg. colleges are recurrently organized to inform students about the latest developments in the field of electronics. Over the last few years, the department has seen good placements.<br><br>
    </p>
<h3>Laboratories and infrastructure</h3>
    1.Electronic Lab 1<br>
    2.Electronic Lab 2<br>
    3.Network Lab<br>
    4.Instrumentation and Measurement Lab<br>
    5.Digital Electronics Lab<br>
    6.Printed Circuit Design Lab<br>
    7.Energy Conversion Lab<br>
    8. Communication Lab<br>
    9.Analog Integrated Circuit Lab<br>
    10.Microprocessor Lab<br>
    11.Control System Lab<br>
    12.Computer Added Design Lab<br>
    13.Digital Signal Processing Lab<br>
    14.Microwave Lab<br>
    15.Communication Lab-1 &2<br>
    16.Electrical Engineering Lab<br>
    17.Electrical Machines Lab<br>
    18.Communication Lab-3<br>



