.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: darkcyan;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

button.mat-menu-item{
  background-color: white;
}

button.mat-menu-item:hover {
  background-color: black ;
  color: #fff !important;
}




