<div class="container">
  <img src="assets/college2.jpg" alt="college2" class="responsive" style="width:100%;">
      <div class="centered" style="position: relative;">
              <h1>Computer Science & Engineering</h1>
       <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Computer Science & Engineering</li>
              </ul>
              </div>
            </div>
            <br><br>
            <br>

  <div class="overlay"></div>
   <p>
      The department has a set of highly qualified and experienced faculty members specializing in key areas of computer science such as Compiler Design, Operating Systems, Software Engineering, Advanced Computer Networks, Information Security, Data Mining and Artificial Intelligence.  With a view to meet the growing demands of the industry the department endeavours to equip the students with the latest necessary software and hardware skills.<br><br>

      The department staffed with highly qualified and experienced faculty is committed to provide high quality education with value added courses in the field of computer science . <br><br>

      It has one of the best infrastructure facilities with 10 state-of-the-art computer center with ten labs having 210 Pentium-IV computers connected to centrally structured LAN which in turn are connected to internet. The networking system with advanced servers is run and maintained by well-qualified faculty and supporting staff.<br><br>

      The emphasis is on providing up-to-date knowledge of various industry friendly skills like ASP. Net, VB. net, C#, J2EE, ORACLE, Networking and many more. Latest literature and technical papers provide a cutting edge to the students skills. Special classes are held to enhance the personality and inter-personal communication skills of the students.

      The department is providing 'dedicated lab' to final year students, which is equipped with various licensed software and packages for their project work. Various in house training programmes in emerging areas of technology sharpen the skills of the students.
    </p>


<h2>Laboratories and infrastructure</h2>
<p>
Computer Science Engineering Department of Engineering faculty has various laboratories which are fully equipped with the latest range of modern equipments to impart indepth and upto date knowledge to the students.<br>

1.Data Base Management System Lab<br>
2.Design & Analysis of Alorithm Lab<br>
3.Computer Graphics Lab<br>
4.Java Programming Lab<br>
5.Digital Images Processing Lab<br>
6.Computer Architecture Lab<br>
7.Artificial Intelligence Lab<br>
8.Web Technology Lab<br>
9.Internet Lab<br>
10.Distributed System<br>
11.Computer Programming Lab<br>
12.Data Structure<br>
13.Advance Programming<br>
</p>


